th{
    background-color: lightgray;
}

table, th, td{
    border: 2px solid black;
    margin: 100px 100px 100px 100px;
    
}

th, td{
    padding: 10px;
}

.img1{
    height: 20%;
    width: 30%;
    border: 5px dashed red;
    padding: 30px;
}

.img2{
    height: 2in;
    width: 3in;
    border: 5px dashed red;
    padding: 30px;
}

.img3{
    height: 200pt;
    width: 250pt;
    border: 5px dashed red;
    padding: 30px;
}

.para{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 25px;
}

.link1:hover{
    color: red;
}

.link2:visited{
    color: gray;
}

.link3:active{
    color: orange;
}